:root {
  font-size: 60%;

  --color-background: #f0f0f7;
  --color-button-text: #ffffff;
  --color-box-base: #ffffff;
  --color-box-footer: #fafafc;
  --color-input-background: #f8f8fc;
  --color-line-in-white: #e6e6f0;
  --color-primary: #8257e5;
  --color-primary-dark: #774dd6;
  --color-primary-darker: #6842c2;
  --color-primary-light: #916bea;
  --color-primary-lighter: #9871f5;
  --color-secundary: #04d361;
  --color-secundary-dark: #04bf58;
  --color-text-base: #6A6180;
  --color-text-complement: #9c98a6;
  --color-text-in-primary: #d4c2ff;
  --color-text-title: #32264d;
  --color-title-in-primary: #ffffff;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

.alignment {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--color-background);
}

body,
html,
#root {
  height: 100vh;
}

body,
button,
input,
textarea {
  font: 500 1.6rem Poppins;
}

.container {
  max-width: 700px;
  width: 90vw;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
