#page-project-list {
  height: 100vh;
  width: 100vw;

  #search {
    margin-top: 3.2rem;
  }
}

@media (min-width: 700px) {
  #page-project-list {
    max-width: 100%;

    #search {
      bottom: -28px;
      column-gap: 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: absolute;
    }
  }
}
