#page-project-list {
  height: 100vh;
  width: 100vw;

  main {
    margin: 3.5rem auto;
    width: 90%;
  }

  #search {
    margin-top: 3.2rem;
  }
}

@media (min-width: 700px) {
  #page-project-list {
    max-width: 100%;

    main{
      margin: 0 auto;
      max-width: 740px;
      padding: 3.2rem 0;
    }

    #search {
      bottom: -28px;
      column-gap: 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: absolute;
    }
  }
}
